{% extends "nav_base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<label class="panel-title" style="margin-right: 65%;">计划任务列表</label>	
				<input type="text" style="height: 34px;width: 170px;text-align: center;font-size: 18px;" placeholder="请输入主机名">
				<button class="btn btn-info">搜索</button>
			</div>			
			<div class="panel-body">
				<table class="table table-bordered">
				   <thead>
				      <tr>
				         <th style="width: 50px;text-align: center">序号</th>
				         <th style="width: 80px;text-align: center">主机名</th>
				         <th>任务内容</th>
				         <th style="width: 200px;text-align: center">操作</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr>
				         <td>01</td>
				         <td>master</td>
				         <td>/usr/local/src/time.sh</td>
				         <td>
				         	<button class="btn btn-waring btn-xs">禁用</button>
				         	<button class="btn btn-success btn-xs">启用</button>
				         	<button class="btn btn-info btn-xs">修改</button>
				         	<button class="btn btn-danger btn-xs">删除</button>
				         </td>
				      </tr>
				      	<tr>
				         <td>02</td>
				         <td>slave1</td>
				         <td>/usr/local/src/time.sh</td>
				         <td>
				         	<button class="btn btn-waring btn-xs">禁用</button>
				         	<button class="btn btn-success btn-xs">启用</button>
				         	<button class="btn btn-info btn-xs">修改</button>
				         	<button class="btn btn-danger btn-xs">删除</button>
				         </td>
				      </tr>
				      	<tr>
				         <td>03</td>
				         <td>slave2</td>
				         <td>/usr/local/src/time.sh</td>
				         <td>
				         	<button class="btn btn-waring btn-xs">禁用</button>
				         	<button class="btn btn-success btn-xs">启用</button>
				         	<button class="btn btn-info btn-xs">修改</button>
				         	<button class="btn btn-danger btn-xs">删除</button>
				         </td>
				      </tr>
				   </tbody>
				</table>
			</div>
		</div>
    </div>
</div>
{% endblock %}
