{% extends "navbase.html" %}
{% block toggle %}
   <ol class="breadcrumb">
      <li style="font-size: 15px"><a href="#">执行命令</a></li>
      <li style="font-size: 15px"><a href="#">文件同步</a></li>
      <li style="font-size: 15px"><a href="#">定时任务</a></li>
      <li style="font-size: 15px"><a href="#">无密配置</a></li>
    </ol>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info" style="height:700px">
            <div class="panel-heading" ">
                <label class="panel-title">远程执行命令</label>
            </div>
            <div class="panel-body" style="margin-left: 20px">
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-12">
                            <label><button class="btn btn-info">主机</button></label>
                            <select id="hostname" style="width: 150px;margin-right: 5%;height: 30px;font-size: 20px">
                                <option></option>
                            {% for host in names %}
                                <option>{{ host.0 }}</option>
                            {% endfor %}
                            </select>
                            <label><button class="btn btn-info">服务组名</button></label>
                            <select id="group" style="width: 120px;margin-right: 5%;height: 30px;font-size: 20px">
                                <option></option>
                            {% for group in groups %}
                                <option>{{ group.0 }}</option>
                            {% endfor %}
                            </select>
                            <label><button class="btn btn-info">命令</button></label>
                            <input style="height: 30px;width: 400px; font-size: 15px" type="text" id="command">
                            <button class="btn btn-info" type="submit" onclick="alertcmd()">执行</button>
                    </div> 
                </div>
                <!-- 分割线 -->
                <div class="row" style="margin-top: 20px">
                    <div class="hr-line-dashed"></div>
                    <div style="height: 500px">
                        <span class="btn btn-info" style="margin-left: 10px">执行结果:</span>
                        <textarea class="form-contral" id="result" placeholder="" style="resize: none;width:100%;height: 100%;border: none;outline: none;font-size:25px"></textarea>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
<script type="text/javascript">
    $('#hostname').change(function(){ 
       $(this).val() && $('#group').prop('disabled',true)
       if ($(this).val()=='') {
        $('#group').prop('disabled',false)
       }
    })

    $('#group').change(function(){ 
       $(this).val() && $('#hostname').prop('disabled',true)
       if ($(this).val()=='') {
        $('#hostname').prop('disabled',false)
       }
    })
    function alertcmd() {
        $.ajax( {

            url: "/monitor/hostcontral/",
            type: "POST",
            data: {
                cmd:$("#command").val(),
                hostname:$("#hostname").val(),
                groupname:$("#group").val()
            },
            dataType: "html",

            success: function ( res ) {

                 $('#result').val( res );
             },
            error: function ( res ) {

             }
        } );
}
</script>
{% endblock %}
