{% extends "navbase.html" %}
{% block toggle %}
	<ol class="breadcrumb">
	  <li style="font-size: 15px"><a href="{% url 'auto_operation.views.servicedistribute' %}">服务分布信息</a></li>
	  <li style="font-size: 15px"><a href="{% url 'auto_operation.views.hostbaseinfo' %}">主机基本信息</a></li>
	</ol>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<label class="panel-title">云平台服务分布信息</label>
				<form action="" method="post" style="float: right">
					<select name="conditions" style="height: 33px;text-align: center;font-size: 15px">
						<option value=""></option>
						<option value="f_hostname">主机名</option>
						<option value="f_servername">服务名</option>
						<option value="f_serverid">服务号</option>
						<option value="f_status">状态</option>
					</select>
					<input name="searchname" style="height: 33px;width: 120px; text-align: center;font-size: 15px" type="text" placeholder="请输入查询项">
					<button type="submit" class="btn btn-info">搜索</button>
				</form>	
			</div>			
			<div class="panel-body">
				<table class="table table-bordered">
				   <thead>
				      <tr>
				      	<th>
<!-- 				      		<div class="icheckbox_square-green">
				      			<input type="checkbox" name="">
				      		</div> -->
				      	</th>
				        <th style="text-align: center">集群名</th>
				        <th style="text-align: center">主机名</th>
				        <th style="text-align: center">服务名</th>
				        <th style="text-align: center">服务号</th>
				        <th style="text-align: center">状态</th>
						<th style="text-align: center">功能</th>
				        <th style="text-align: center">备注</th>
				        <th style="text-align: center">操作</th>
				      </tr>
				   </thead>
				   <tbody>
				   	{% for value in service_info %}
				      <tr>
						<td>
							<div class="icheckbox_square-green">
								<input type="checkbox" name="">
							</div>
						</td>
				        <td style="font-size: 15px;text-align: center">{{ value.0 }}</td>
				        <td style="font-size: 15px;text-align: center">{{ value.1 }}</td>
				        <td style="font-size: 15px;text-align: center">{{ value.2 }}</td>
				        <td style="font-size: 15px;text-align: center">{{ value.3 }}</td>
				        <td style="font-size: 15px;text-align: center">{{ value.4 }}</td>
				        <td style="font-size: 15px;text-align: left">{{ value.5 }}</td>
				        <td style="font-size: 15px;text-align: left">{{ value.6 }}</td>
				        <td style="text-align: center">
				         	<button class="btn btn-waring btn-xs">禁用</button>
				         	<button class="btn btn-success btn-xs">启用</button>
				         	<button class="btn btn-info btn-xs">修改</button>
				         	<button class="btn btn-danger btn-xs">删除</button>
				        </td>
				      </tr>
					{% endfor %}
				   </tbody>
				</table>
				<div style="text-align: right;margin-right: 2%;font-size: 20px">
					<!-- 如果当前是第一页，就不显示【上一页】链接 -->
					<a href="?curPage=1&allPage=1&pageType=&value={{ selectvalue }}&search={{ searchvalue }}">首页</a>
			        {% ifnotequal curPage 1 %}  
			        <a href="?curPage={{ curPage }}&allPage={{ allPage }}&pageType=pageUp&value={{ selectvalue }}&search={{ searchvalue }}">上一页</a>  
			        {% endifnotequal %}   
			        第{{ curPage }}/{{ allPage }}页   
			         <!-- 如果当前是最后一页，就不显示【下一页】链接 -->  
			        {% ifnotequal curPage allPage %}  
			       <a href="?curPage={{ curPage }}&allPage={{ allPage }}&pageType=pageDown&value={{ selectvalue }}&search={{ searchvalue }}">下一页</a>  
			        {% endifnotequal %}
					<a href="?curPage={{ allPage }}&allPage={{ allPage }}&pageType=&value={{ selectvalue }}&search={{ searchvalue }}">尾页</a>
					<form action="" method="get" style="display:inline">
						<input type="text" name="curPage" style="margin-left: 2px;width: 50px;">
						<input type="hidden" name="allPage" value="{{ allPage }}">
						<input type="hidden" name="value" value="{{ selectvalue }}">
						<input type="hidden" name="search" value="{{ searchvalue }}">
						<button type="submit" class="btn btn-info">GO</button>
					</form>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock %}
