{% extends "navbase.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6" style="margin-top: 10px;">
	            <div class="form">
	            	<div class="panel panel-info">
         					<div class="panel-heading">
            					<h3 class="panel-title">文件上传</h3>
         					</div>
         					<div class="panel-body" style="height: 500px">
         						<div class="input-group">
      	                <label class="btn btn-info">远程主机:</label>
                        <select id="host_name" style="height:34px;width:150px;text-align:center;font-size:20px;">
                          <option>slave1</option>
                          <option>slave2</option>
                        </select>    
      	            </div>	                   
      						    <label class="control-label" style="size: 35px;">本地文件</label>
      						    <input id="input_file" name="input_file" multiple type="file" class="file file-loading">
         				  </div>
				        </div>
	            </div>
            	
            </div>
            <div class="col-sm-6" style="margin-top: 10px;">
            	<div class="panel panel-info">
   					<div class="panel-heading">
      					<h3 class="panel-title">文件下载</h3>
   					</div>
   					<div class="panel-body">
      					<span class="input-group-btn">
                        <button class="btn btn-success">远程主机:</button>
                        <select id="host_name" style="height:34px;width:150px;text-align:center;font-size:20px">
                            <option>slave1</option>
                            <option>slave2</option>
                        </select>           
   					</div>
				</div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}
