{% extends "nav_base.html" %}
{% block content %}
<div class="panel-heading">
</div>
   <table class="table">
      <thead>
         <tr>
            <th>编号</th>
            <th>主机名</th>
            <th>用户</th>
            <th>密码</th>
            <th>远程执行命令</th>
            <th>编辑</th>
         </tr>
      </thead>
   <tbody>
      <tr class="success">
         <td>01</td>
         <td>host01</td>
         <td>root</td>
         <td>passowrd</td>
         <td>SSH</td>
         <td>编辑</td>
      </tr>
   </tbody>
</table>
{% endblock %}